<h1>Welcome to the Tour!</h1>
    <button (click)="startTour()">Start Tour</button>

    <mat-vertical-stepper>
      <mat-step tourStep="step1">
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template tourAnchor="step1">
          <h3>Step 1</h3>
          <p>This is step 1 of the tour.</p>
        </ng-template>
        <div class="popover-body">
          <h3>Step 1</h3>
          <p>This is a custom template for step 1.</p>
          <button (click)="tourService.next()">Next</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>